# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

timeline.xctimeline
playground.xcworkspace

.build/
.swiftpm/
Package.resolved

Pods/

GoogleService-Info.plist

.DS_Store

*.dSYM.zip
*.dSYM

*.xcdatamodeld/*.xcdatamodel/*.xccurrentversion

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

.env
*.pem
*.p12
*.mobileprovision
*.cer

.vscode/
.idea/
WorkspaceSettings.xcsettings
